a:link {
    color: #FFFFFF !important;
}
.is-standard {
    background-color: #7A08FA;
}

a:hover {
    color: #ffffff;
}
.is-text {
    color: #FFFFFF;
    padding: 10px;
    margin-left: 5px;
}
.navbar-item:hover {
    background-color: rgb(58, 21, 87) !important;
}


.is-icon {
    margin: 5px;
}
.navbar {
    background: linear-gradient(to bottom right, #511E78, #8B2F97);
    font-family: 'Cinzel', serif;
}
