a:link {
    color: #FFFFFF !important;
}
a:visited  {
    color: #ffffff !important;
}
.is-standard {
    background-color: #7A08FA;
}

a:hover {
    color: #ffffff;
}
.is-text {
    color: #FFFFFF;
    padding: 10px;
    margin-left: 5px;
}
.navbar-item:hover {
    background-color: #a82ffc !important;
}


.is-icon {
    margin: 5px;
}
.navbar {
    background: linear-gradient(to bottom right, #7A08FA, #A82FFC);
    font-family: 'Cinzel', serif;
}
