.title  {
    color: #ffffff;
}
.subtitle {
    color: #ffffff;
}

.hero {
    background: linear-gradient(to bottom right,  #7A08FA, #A82FFC);
    font-family: 'Cinzel', serif;
}
a:link {
    color: #FFFFFF !important;
}
.is-standard {
    background-color: #511E78;
}

a:hover {
    color: #ffffff;
}
.is-text {
    color: #FFFFFF;
    padding: 10px;
    margin-left: 5px;
}
.navbar-item:hover {
    background-color: rgb(58, 21, 87) !important;
}


.is-icon {
    margin: 5px;
}
.navbar {
    background: linear-gradient(to bottom right,  #7A08FA, #A82FFC);
}

/* .image {
    height: 480px;
    width: 490px;
} */